body{
  width: 1920px;
  background-color:black;
}
.wrapper{
  width:90%;
  margin: 0 auto;
  display: grid;
  align-content: center;
  grid-template-rows: 535px 535px 535px 535px 535px 535px;
  grid-gap:10px;
}

.headshot{

  background-image: url("../images/headshot.svg");

}

.item{
  background: #58d5f6;
  color: white;
  padding: 10px;
}

.item:nth-child(even){
  background: #236fc8;
}

.headertext{
  
}
header{
  font-family: oswald;
  font-size: 72px;
  padding-left:  600px;
  padding-bottom: auto;

  padding-top: 50px;

}

header2{
  font-family: oswald;
  font-size: 72px;
  font-weight: lighter;
  padding-left:  600px;

  padding-left: 600px;

  

}