body{
  background-color: black; 

  
}

.navbar-nav{
  display:flex;
  ;


}

.lead{
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 24px ;
  font-weight: 50px;
}

.display-4{
  padding: 0 auto;
  margin: 0 auto;
  font-family: 'Staatliches', cursive;
  color: white;
  padding-top: 50px;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.eightfourtysix{
  display: flex;
  align-items: center;
  padding: 0;
  margin 0;
  background-color: black;
  font-family: 'Staatliches', cursive;
  font-size: 36px;
  color: white;
  width: 100%;

}

.floydpicture{
  padding: 0 auto;
  padding-top: 100px;
  margin: 0 auto;
  margin-top: 50px;
  background-color:#858594;
  height: 300px ;
  align-items: center;
}



.mffTeam{
  padding-top: 50px;
  font-family: 'Staatliches', cursive;
  font-size: 36px;
  padding-left: 20px;
}


.jumbotron{
  padding-top: 50px;
 
}

.jumboCopy {
  justify-content: flex-start;
  padding-left: 0 auto;
  color: white
  ;

}


.mffBackground{

  background-image: url(../images/nicole-geri-ohK_uJJm2G8-unsplash.jpg );
  background-size: cover;
  background-repeat:no-repeat;
  align-items: center;
  justify-content: center;
  display: flex
  ;
  
}

.floydBackground{

  margin-top: 80px;
  background-image: url(../images/munshots-_vAC0je-hKo-unsplash.jpg );
  background-size: cover;
  background-repeat:no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  
}

.toolsUsed{

  padding-top: 120px;
  padding-bottom: 50px;
  padding-left: -20px;
  font-family: 'Staatliches', cursive;
  font-size: 36px;
  display:flex;
  grid-template-rows: flex;
  justify-content: space-evenly ;
  align-items: auto; 

}

.picturecontainer{
  background-color: black;
  padding-bottom: 50px;
}

.preloader {
  position:fixed;
  width: 100%;
  height:100vh;
  z-index:100000;
  background-color: black;
  top:0;
  display: flex;
  align-items: center;
}

.preloader img {
  animation: spin 3s ease;
  transition: all;
  width: 150px;
  margin: 0 auto ;

}

.mffimages {
  

  background-color: #858594 ;
  box-shadow: 10px 10px;
  display: flex;
  width: 100%;
  justify-content: center ;
  align-items: center;
  padding-top: 110px ;
  padding-bottom: 110px;
}








