body{
  width: 1920px;
  background-color:black;
}

.preloader{
  position:fixed;
  width: 100%;
  height:100vh;
  z-index:100000;
  background-color: black;
  top:0;
  display: flex;
  align-items: center;
}

.preloader img {
  animation: spin 3s ease;
  transition: all;
  width: 150px;
  margin: 0 auto

}

header{
  font-family: Oswald;
  color: white;
  font-size: 72pt;
  font-weight: initial;
  margin-top: 200px;
  margin-bottom: -50px; 
  transition: 0.3s ease-out;
  
}

  header2{
  font-family: Oswald;                                                    
  color: white;
  font-size: 72pt;
  font-weight: lighter;
  margin-top:300px;
  margin-bottom: px; 
  transition: 0.3s ease-out;
  
}

nav{
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
  font-family: oswald;
  color: white;
  font-size: 36pt;
  font-weight: 100;
  margin-left:-55px ;
  margin-top: -20px;
  align-items: flex-start;
  transition: 0.3s ease-out;
}

.uxui {
  color: white
}
.uxui:hover {
  cursor: pointer;
  color:#FE68A8 ;
  transform: 0.5s ease-out ; 
  transform: rotates;
  border-radius: 400px;
  font-size: 36pt ;

}

.uichallenges {
  color: white
}
.uichallenges:hover {
  cursor: pointer;
  color: #FFC021  ;
  transform: 0.5s ease-out ; 
  transform: rotates;
  border-radius: 400px;
  font-size: 36pt ;
  
}

.vehicles {
  color: white
}
.vehicles:hover {
  cursor: pointer;
  color: #CB7CD9;
  transform: 0.5s ease-out ; 
  transform: rotates;
  border-radius: 400px;
  font-size: 36pt ;
  
}

.sketches {
  color: white
}
.sketches:hover {
  cursor: pointer;
  color: #DD0568;
  transform: 0.5s ease-out ; 
  transform: rotates;
  border-radius: 400px;
  font-size: 36pt ;
  
}

.resume {
  color: white
}
.resume:hover {
  cursor: pointer;
  color: #F93C21;
  transform: 0.5s ease-out ; 
  transform: rotates;
  border-radius: 400px;
  font-size: 36pt ;
  
}

/* Grid CSS */
#omarGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "headshot header-nav header-nav"
    "line1 line1 uxcircle1"
    "uxcircle2 line2 line2"
    "line3 line3 uxcircle3"
    "uxcircle4 line4 line4"
    "line5 line5 uxcircle5"
    "socialmedia line6 line6";
}
.headshot {
  grid-area: headshot;
  background-image: url("../images/headshot.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  margin-top: 90px;
  height: 535px;
}

.headshot:hover {
  cursor: pointer;
  grid-area: headshot;
  background-image: url("../images/headshot2.svg");
  background-repeat: no-repeat;
  transform: 0.5s ease-out
  background-size: 500px;
  margin-top: 90px;
  height: 535px;
 
}

.header-nav {
  grid-area: header-nav;
  height: 535px;
}
.line1 {
  grid-area: line1;
  background-image: url("../images/leftline.svg");
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-left: 250px;
  height: 535px;
}
.uxcircle1 {
  grid-area: uxcircle1;
  background-image: url("../images/uxcircle1.svg");
  background-repeat: no-repeat;
  background-size: 500;
  margin-top: 50px;
  height: 535px;
}

.uxcircle1:hover {
  cursor: pointer;
  grid-area: uxcircle1;
  background-image: url("../images/uxcircle1b.svg");
  background-repeat: no-repeat;
  transform: 0.5s ease-out
  background-size: 500;
  margin-top: 50px;
  height: 535px;
}

.line2 {
  grid-area: line2;
  background-image: url("../images/rightline.svg");
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-left: 60px;
  height: 535px;
}
.uxcircle2 {
  grid-area: uxcircle2;
  background-image: url("../images/uxcircle2.svg");
  background-repeat: no-repeat;
  background-size: 535px;
  margin-top: 50px;
  height: 535px;
}

.uxcircle2:hover {
  cursor: pointer;
  grid-area: uxcircle2;
  background-image: url("../images/uxcircle2b.svg");
  background-repeat: no-repeat;
  transform: 0.5s ease-out
  background-size: 535px;
  margin-top: 50px;
  height: 535px;
}

.line3 {
  grid-area: line3;
  background-image: url("../images/leftline.svg");
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 250px;
  height: 535px;
}
.uxcircle3 {
  grid-area: uxcircle3;
  background-image: url("../images/uxcircle3.svg");
  background-repeat: no-repeat;
  background-size: 535px;
  margin-top: 40px;
  height: 535px;
}

.uxcircle3:hover {
  cursor: pointer;
  grid-area: uxcircle3;
  background-image: url("../images/uxcircle3b.svg");
  background-repeat: no-repeat;
  transform: 0.5s ease-out
  background-size: 535px;
  margin-top: 40px;
  height: 535px;
}

.line4 {
  grid-area: line4;
  background-image: url("../images/rightline.svg");
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 60px;
  height: 535px;
}
.uxcircle4 {
  grid-area: uxcircle4;
  background-image: url("../images/uxcircle4.svg");
  background-repeat: no-repeat;
  transform: 0.5s ease-out
  background-size: 535px;
  margin-top: 40px;
  height: 535px;
}

.uxcircle4:hover {
  cursor: pointer;
  grid-area: uxcircle4;
  background-image: url("../images/uxcircle4b.svg");
  background-repeat: no-repeat;
  transform: 0.5s ease-out
  background-size: 535px;
  margin-top: 40px;
  height: 535px;
}

.line5 {
  grid-area: line5;
  background-image: url("../images/leftline.svg");
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 250px;
  height: 535px;
}
.uxcircle5 {
  grid-area: uxcircle5;
  background-image: url("../images/uxcircle6.svg");
  background-repeat: no-repeat;
  background-size: 535px;
  margin-top: 40px;
  height: 535px;
}

.uxcircle5:hover {
  cursor: pointer;
  grid-area: uxcircle5;
  background-image: url("../images/uxcircle6b.svg");
  background-repeat: no-repeat;
  transform: 0.5s ease-out
  background-size: 535px;
  margin-top: 40px;
  height: 535px;
}

.line6 {
  grid-area: line6;
  background-image: url("../images/rightline.svg");
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 60px;
  height: 535px;
 }
.socialmedia {
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  
}
.instagram {
 padding-left: 50px;
}

 .linkedin {
 padding-left: 43px;
 padding-right: 43px;
}

.email {
padding-right: -16px ;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}